/************************/
/* Header*/
/************************/
.header {
    background-color: #0e67b4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9.6rem;
    padding: 0 4.8rem;
    position:relative;
  }
  .logo-img {
    width: 20rem;
  }
  /************************/
  /* MAIN NAV LIST*/
  /************************/
  
  
  .main-nav-list {
    list-style: none;
    display: flex;
    gap: 3rem;
    align-items: center;
  }
  .main-nav-link:link,
  .main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
  }
  .main-nav-link:hover,
  .main-nav-link:active {
    color: #cfe1f0;
  }
  .main-nav-link.nav-cta:link,
  .main-nav-link.nav-cta:visited {
    display: inline-block;
    padding: 1.6rem 3.2rem;
    color: black;
    background-color: aliceblue;
    transition: all 0.3s;
    border-radius: 20px;
  }
  
  .main-nav-link.nav-cta:hover,
  .main-nav-link.nav-cta:active {
    background-color: #b7d1e9;
  }

  /* Mobile */
  .btn-mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
  }
  .icon-mobile-nav{
    height:4.8rem;
    width:4.8rem;
    color:aliceblue;

  }
  .icon-mobile-nav[name="close-outline"]{
    display:none;

  }
  
  /************************/
  /* Hero Section*/
  /************************/
  
  .section-hero {
    background-color: #0e67b4;
    padding: 2.4rem 0 9.6rem 0;
  }
  
  .hero {
    margin: 0 auto;
    padding: 0 3.2rem;
    max-width: 130rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  .hero-img {
    width: 100%;
  }

  .hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
  }
  
  .books-bought {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2.4rem;
  }
  .books-bought-text {
    font-weight: 700;
    font-size: 1.6rem;
  }
  
  .book-1 {
    font-size: 3rem;
    color: #e7f0f8;
  }
  
  /************************/
  /* WHAT WE BUY*/
  /************************/
  
  .section-what {
    background-color: white;
    padding: 9.6rem 0;
  }
  .book-example--container{

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  gap:4.8rem;


  
  }
  .book-examples{
    border-bottom: 1px solid #b7d1e9;
    color:#000;
  }
  .book-text{
    margin-top:2.4rem;
    font-size: 1.6rem;
    color: #555;
  }
  .book-text-list{
    display:flex;
    flex-direction: column;
    gap:2.4rem;
    line-height: 1.6;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.6rem;
    padding: 1.6rem;
  }
  .gallery-item {
    overflow: hidden;
  }
  .gallery-item img {
    width: 100%;
    display: block;
    transition: all 0.5s;
  }
  .gallery-item img:hover {
    transform: scale(1.1);
  }

  
  /************************/
  /* HOW IT WORKS SECTION */
  /************************/
  
  .section-how {
    background-color: #e7f0f8;
    padding: 9.6rem 0;
  }
  
  .step-text-box {
    font-size: 1.6rem;
    color: #555;
  }
  .step-description {
    line-height: 1.8;
  }
  .step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #bbbb;
  }
  
  
  .step-text--1 {
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
    font-weight: 700;
  }
  
  .contact-information {
    list-style: square;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-left: 2.4rem;
  }
  .step-img-box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .step-img {
    width: 50%;
    box-shadow: 1rem 2rem 4rem #000;
  }

  /************************/
  /* CTA SECTION */
  /************************/

  .section-cta{
      padding: 9.6rem 0 12.8rem 0;

  }
  .cta{
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #0e67b4;
    
    box-shadow: 1rem 2rem 4rem rgba(0, 0, 0, 0.2);
    border-radius:11px;
    background-image: linear-gradient(to right,#0e67b4, #5695cb	
);
overflow: hidden;

  }

.cta-text-box{
color:#e7f0f8;
padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  }
  
.cta .heading-secondary{
  color: #e7f0f8;
  margin-bottom: 3.2rem;
  font-size: 3.8rem;

}
.cta-text{
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
  .cta-img-box{
    
  background-image: linear-gradient(to right,
  rgba(14, 103, 180, 0.30),
   rgba(86, 148, 203, 0.3)
   ),url("../logo-pictures/cta-img.jpg");
  background-size: cover;
  background-position:center;
  }
  .gform{
    
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3.2rem;
    row-gap: 2.4rem;
    justify-content: center;
    align-items: center;
  }
  
  .gform label{
    display: block;
     font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1.2rem;

  }
  .gform input{
    font-family:inherit;
    color:black;
    width:100%;
    padding:1.2rem;
    font-size: 1.8rem;
    background-color: #e7f0f8;
    border-radius: 9px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);

  }
  .gform input::placeholder{
    color: #b7d1e9;
  }
  .gform button{
    font-family:inherit;
    font-size: 2.4rem;
    grid-column: -3/-1;
    align-self: center;
   color:#000;
   padding: 1.6rem 3.2rem;
   border-radius: 9px;
   border:none;
   
  }
  .cta  *:focus{
    outline: none;
    box-shadow: 0 0 0 0.8rem #041f36;
  }

  /************************/
  /* FOOTER SECTION */
  /************************/

  .footer{
    padding: 9.6rem 0;
    
    background-color: #0e67b4;
  }
  .footer-heading{
    font-size:1.8rem;
    font-weight: 500;
    margin-bottom: 4rem;
  }
  .logo-col{
    display:flex;
    flex-direction: column;
    margin-top:auto;
  }
  .footer-logo{
    display:block;
    margin-bottom: 1.6rem;

  }
  .social-links{
    list-style: none;
    display: flex;
    gap:2.4rem;
    margin-bottom: 2.4rem;
  }
  .social-icon{
    height:2.4rem;
    width:2.4rem;
  
  }
  .copyright{
    font-size: 1.4rem;
    color:#cfe1f0;
    line-height: 1.6;
  }
  .contacts{
    font-style:normal;
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .address{
    margin-bottom: 2.4rem;

  }
  .footer-nav{
    display:flex;
    flex-direction: column;
    gap:2.4rem;
    list-style: none;
  }

  .footer-link:link,
  .footer-link:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color:#cfe1f0;

    transition:all 0.3s
  }
  .footer-link:hover,
  .footer-link:active{ 
    color:white;
  }